@charset "utf-8";

@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* https://noonnu.cc/font_page/1084 */
@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


@media all and (min-width:1024px) and (max-width:1279px) { 
    
} 

/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
  
} 

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  
}



*{
    font-family: 'BookkMyungjo-Bd' !important;
}

.Carou{
    margin-left: auto;
    position: relative;
    width: 900px;
    height: 500px;
}
.footer_nav{
    text-align: center;
}


.carousel-caption{
    left: 0 !important;
}

.carousel-indicators{
    margin-left : 0 !important;
}

.logo{
    display: flex !important;
    align-items: center !important;
    height: 70px !important;
}


.logo img{
    margin-top: 20%;
    width: 200px;
    height: 200px;
}

.searchBtn{
    width: 100px;
}

/* 미디어 쿼리 : 태블릭 992px 미만 적용 */

/* 0.02px을 빼는 이유 = 브라우저는 현재 범위 컨텍스트 쿼리를 
지원하지 않으므로 더 높은 정밀도의 값을 사용하여
분수 너비 (예 : 높은 dpi 기기의 특정 조건에서 발생할 수 있음)가 있는 
min- 및 max- 접두사 및 뷰포트의 제한 사항을 해결하기 위해서 입니다 */

/* 초소형 세로폰 : 576px 미만, max-width:575.98px */
/* 소형 가로폰 : 768px 미만, max-width:767.98px */
/* 데스크톱 pc : 1200px 미만, max-width: 1199.98px */
/* 대형 데스크톱 pc : 1400px 미만, max-width: 1399.98px */
@media(max-width: 991.989px){
    .logo img{
        width: 200px;
    }
}

.login{
    margin-top: 100px;
    width: 50% !important;
    margin-bottom: 40px;
}

.loginhead{
    font-size: 50px;
    text-align: center;
}

.navTop{
    margin-top: 25px;
   margin-left: 40px;
}

.slide{
    text-align: center;
}

.slideimg{
    width: 1200px;
    height: 500px;
}

.navlog{
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
}

.navfirst{
    float: right;
}

.Navsign{
    width: 80px;
    margin: 0 10px;
}

@media (max-width: 974.98px) {
    .navfirst{
        display: none;
    }
}


/* 여기까지가 소정이가 한 css 코드. */



*{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    height: auto;
    width: 100%;
	vertical-align: baseline;
    
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    width: 4rem;
    height: 4rem;
}
.navigation-logo-wrapper ion-icon{
    width: 3rem;
    height: 3rem;
    color: white;
}

.navigation-logo-wrapper img{
    width: 150px;
    height: 100px;
}
.full-container{
    width: 100%;
    height: auto;

    padding: 0 3rem;
    background: rgb(0, 0, 0);
}



.navigation-bar{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-logo-wrapper{
    margin-top: 25px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.navigation-logo-wrapper h1{
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin-left:0.5rem ;
}

.navbar{
    width: auto;
    height: 5rem;
    display: flex;
    align-items: center;
}

.navbar ul{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}
.navbar ul li{
    margin-top: 18px;
    width: max-content;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    margin-right: 3rem;
}
.navbar ul li:last-of-type{
    margin-right: 0;
}

.navbar ul li::before{
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 0.1rem solid white;
    opacity: 0;
    transform: scale(1.4);
    transition: 600ms;

}
.navbar ul li:hover::before{
    opacity: 1;
    transform: scale(1);
}

.right-bar{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.right-bar ion-icon{
    font-size: 1.4rem;
}

.right-bar ion-icon:nth-child(1){
    color: yellow;
    font-size: 1.4rem;
}
.right-bar ion-icon:nth-child(2){
    color: orange;
}
.right-bar ion-icon:nth-child(3){
    color: white;
}

.right-bar .logo{
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.right-bar .logo ion-icon{
    color: white;
}
.right-bar ion-icon{
    transition: transform 150ms;
    transform: scale(1.2);
}
.right-bar ion-icon:nth-of-type(1):hover{
   transform: scale(1.5);
}
.right-bar ion-icon:nth-of-type(2):hover{
    transform: scale(1.5);
 }
 .right-bar ion-icon:nth-of-type(3):hover{
    transform: scale(1.5);
 }
 .right-bar .logo:hover {
    transform: scale(1.5);
}
.right-bar .logo ,ion-icon{
    transition: 500ms;
}
.right-bar .logo ion-icon:hover{
    transform: scale(1);
}

/* UP BAR */
.up-bar{
    margin-top:2rem;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 2rem;

    display: flex;
    align-items: center;
    

    justify-content: space-between;
}
.back-page{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0.6;
    cursor: pointer;
    
}
.back-page ion-icon{
    font-size: 1.2rem;
}
.back-page h2{
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}
.right-connect{
    display: flex;
    width: auto;
    height: auto;
    gap: 1rem;
    color: white;
}
.right-connect ion-icon{
    transition: transform 150ms;
    transform: scale(1.2);
}
.right-connect ion-icon:nth-of-type(1):hover{
   color: orange;
   transform: scale(1.5);
}
.right-connect ion-icon:nth-of-type(2):hover{
    color: orange;
    transform: scale(1.5);
 }
 .right-connect ion-icon:nth-of-type(3):hover{
    color: orange;
    transform: scale(1.5);
 }

/*  */

.title-container{
    width: 100%;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 4rem;
}


.title-container .title-text{
    width: auto;
    font-size: 3rem;
}


.title-container span{
    opacity: 0.6;
}

.right-title-text{
    width: auto;
    display: flex;
    align-content: center;
    align-items: center;
}

.right-title-text .day, .line, .text{
    width: auto;
    font-size: 1rem;
    opacity: 0.6;
    margin-right: 1.1rem;
    cursor: pointer;
}
.right-title-text .day{
    font-weight: bold;
    opacity: 0.8;
}
.right-title-text .line{
    width: 7rem;
    height: 0.1rem;
    opacity: 0.3;
    background: white;
}
.right-title-text .text{
    opacity: 0.9;
}
.right-title-text ion-icon{
    color: orange;
    font-size: 1.5rem;
    cursor: pointer;
}

/* USER */

.user-box-container{
    width: 100%;
    height: auto;

    display: flex;
    margin-bottom: 4rem;
}

.user-box{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.user-id{
    width: 10rem;
}

.user-box .user-name , .user-id{
    width: auto;
}

.user-box ion-icon{
    font-size: 10rem;
}
.user-contact-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.user-box .user-name{
    font-size: 1rem;
    font-weight: bold;
}

/* FOOTER */
.footer{
    width: 100%;
    height: fit-content;
    margin-top: 0;
    align-items: center;
    justify-content: space-around;
}
.footer-info ul{
    /* width: max-content; */
    display: flex;
    /* text-align: center; */
}
.footer-info li{
    text-align: center;
    
    /* margin: 0 50px; */
}

.footer-info a{
    text-decoration: none;
    color: #778899;
}

.footer .footer-title{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer-title-text-head{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
}
.footer .footer-title .title h2{
    font-size: 0.9rem;
    color: lightslategray;
    font-weight: bold;
}
.footer .footer-title .producer h2{
    font-size: 0.7rem;
    font-weight: bold;
    color: rgb(86, 89, 92);
}
.footer-title ion-icon{
    font-size: 3.4rem;
}


.footer button{
    color: black;
    padding: 0.5rem 2rem;
    border: 0;
    border-radius: 2rem;
    background: lightskyblue;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.footer button ion-icon{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

/* 1400 PX   */
/* 1400 PX   */
/* 1400 PX   */
/* 1400 PX   */

@media screen and (min-width: 1800px) {
    .right-bar{
        gap: 3rem;
    }
    .user-box-container{

        margin-bottom: 14rem;
    }
    .user-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
    .title-container{
        margin-bottom: 5rem;
    }

    .right-bar ion-icon{
        transition: transform 150ms;
        transform: scale(1.2);
    }
    .right-bar ion-icon:nth-of-type(1):hover{
       transform: scale(1.5);
    }
    .right-bar ion-icon:nth-of-type(2):hover{
        transform: scale(1.5);
     }
     .right-bar ion-icon:nth-of-type(3):hover{
        transform: scale(1.5);
     }
     .right-bar .logo:hover {
        transform: scale(1.5);
    }
    .right-bar .logo ,ion-icon{
        transition: 500ms;
    }
    .right-bar .logo ion-icon:hover{
        transform: scale(1);
    }
    
}

.Caroucontainer{
    width: 900px;
}

.poster{
    width: 300px;
    height: auto;
    float: left;
}

.poster img{
    width: 300px;
    height: 500px;
}

.board{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.boardbtn{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 500px;
}

.boardbtn button{
    width: 150px;
}

.boardbtn button:hover{
    color: rgb(231, 171, 93);
}

.card-img-top{
    position: flex;
    width: 100px;
    height: 500px;
}

/* 뮤지컬 페이지 css */

.items {
	display: flex;
	margin: 0 -5px;

    height:fit-content;
}
.items:before,
.items:after {
	content: '';
	display: block;
	clear: both; 
}
.item {
	float: left;
	width: 32%;
	box-sizing: border-box;
    margin: 8px;
    margin-top: 40px;
}
.item{
    text-align: center;
}

.mtext{
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
}
.seconditem{
    margin-top: 50px;
    margin-bottom: 50px;
}

.listitem img{
    width: 100px;
    height: 150px;
}

/* 뮤지컬 더보기 버튼 클릭 시 페이지 css */
.musicalcont{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.firstwrap{
    width: 100%;
    height:fit-content;
}
.leftitem{
    float: left;
    width: 30%;
    margin-right: 50px;
}

.leftitem img{
    float: left;
    width: 100%;
    height: 600px;
}
.rightitem{
    float: left;
    width: 50%;
}
.rightitem Table{
    margin-top: 40px;
}

.rightitem td{
    width: fit-content;
    font-size: 15pt;
}
.imgcont img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin: 10px;
}

/* 회원가입 */
.mb-3{
    width: 600px;
    text-align: center;
}
.d-grid{
    width: 600px;
    text-align: center;
}
.musicalfull{
    width: 1200px;
    height: 100%;
}

/* 반응형 css */
@media screen and (max-width:1200px) {
    .mtext{
        font-size: 2rem !important;
    }
    .card-title h5{
        font-size: 1rem !important;
    }
    .card-img-top{
        width: 100px;
        height: 500px;
    }
    .card-title p{
        font-size: 2rem;
    }
    .card-text{
        font-size: 2rem;
    }
    .mtext p {
        font-size: 2rem !important;
    }


}


@media (max-width: 991.98px) {
    .mtext{
        font-size: 1.7rem !important;
    }
    .card-title h5{
        font-size: 0.7rem !important;
    }
    .card-img-top{
        width: 80px;
        height: 240px;
    }
    .card-title p{
        font-size: 1.3rem;
    }
    .card-text{
        font-size: 1.3rem;
    }
    .mtext p {
        font-size: 1.7rem !important;
    }



}
@media (max-width: 768px) {
    .mtext{
        font-size: 1.5rem !important;
    }
    .card-img-top{
        width: 30px;
        height: 200px;
    }
    .card-title p{
        font-size: 1rem;
    }
    .card-text{
        font-size: 1rem;
    }
    .mtext p {
        font-size: 1.5rem !important;
    }
}

@media (max-width:576px) {
    .mtext{
        font-size: 1.3rem !important;
    }
    .card-img-top{
        width: 30px;
        height: 200px;
    }
    .card-title p{
        font-size: .7rem;
    }
    .card-text{
        font-size: .7rem;
    }
    .mtext p {
        font-size: 1.3rem !important;
    }
    .container{
        font-size: .3rem;        
    }
}
.grid-container img{
    width:1200px;
    height: 200px;
}

