@charset "utf-8";

@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.location_common{
    width: 100%;
    height: 100%;
    padding: 30px 20px;
}

.location_common h1{
    text-align: center;
    font-family: 'HANAMDAUM';
}

#map{
    margin: 30px auto;
    background: #ffffff;
    width: 50%;
    height: 60vh;
}

.location_information{
    width: 100%;
    padding: 50px;
    border-top: 2px solid lightgray;
}
.location_information h2 small{
    font-family: 'HANAMDAUM';
}
.location_information h3{
    font-family: 'HANAMDAUM';
}
.location_information h3 small{
    font-family: 'HANAMDAUM';
}

.location_information_add{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: wrap;
    padding: 30px 0;
    border-top: 2px solid lightgray;
}

.location_traffic{
    width: calc(100% / 2);
    height: 100%;
    padding: 50px;
}

.traffic_details{
    display: flex;
    margin-bottom: 50px;
}
.traffic_details img{
    width: 100px;
    height: 100px;
}
.traffic_details h2{
    font-family: 'HANAMDAUM';
}
.traffic_details h2 small{
    font-family: 'HANAMDAUM';
}
.company_video, .company_image{
    width: 100%;
    height: 100%;
    padding: 50px 20px;
}

@media screen and (max-width:1200px) {
    #map{
        margin:50px auto;
    }
    .location_traffic{
        padding: 30px;
    }
    .location_common h1{
        font-size: 2rem !important;
    }
    .location_information{
        padding: 30px;
    }
    .location_information h2{
        font-size: 1.7rem;
    }
    .traffic_details h2{
        font-size: 1.7rem;
    }
    small{
        font-size: 1.5rem !important;
    }
    .traffic_details img{
        width: 80px;
        height: 80px;
    }

}

@media (max-width: 991.98px) {
    #map{
        height: 40vh;
    }
    .location_information{
        padding: 20px;
    }
    .location_traffic{
        padding: 20px;
    }
    .location_information h1{
        font-size: 1.7rem !important;
    }
    .location_information h2{
        font-size:  1.5rem;
    }
    .location_information h3{
        font-size: 1.3rem;
    }
    .traffic_details h2{
        font-size: 1.5rem;
    }
    small{
        font-size: 1.3rem !important;
    }
    .traffic_details img{
        width: 70px;
        height: 70px;
    }
    
}

@media screen and(max-width: 768px) {
    #map{
        height: 40vh;
    }
    .location_traffic{
        padding: 10px;
    }
    .location_information{
        padding: 10px;
    }
    .location_common h1{
        font-size: 1.5rem !important;
    }
    .location_information h2{
        font-size: 1.3rem;
    }
    .location_information h3{
        font-size: 1.1rem;
    }
    .traffic_details h2{
        font-size: 1.3rem;
    }
    small{
        font-size: 1.1rem !important;
    }
    .traffic_details img{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 576px) {
    #map{
        height: 30vh;
        margin: 30px auto;
    }
    .location_traffic{
        padding: 10px;
    }
    .location_common h1{
        font-size: 1.3rem;
    }
    .location_information{
        padding: 10px;
    }
    .location_information h2{
        font-size: 1rem;
    }
    .location_information h3{
        font-size: .7rem;
    }
    .traffic_details h2{
        font-size: 1rem;
    }
    small{
        font-size: .7rem;
    }
    .traffic_details img{
        width: 50px;
        height: 50px;
    }
}